@charset "UTF-8";
/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer,
header, aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input {
  outline: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------*/
body {
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

[class*="main__container"] {
  padding-left: calc(15px + 25 * ((100vw - 320px) / 1120));
  padding-right: calc(15px + 25 * ((100vw - 320px) / 1120));
}

/* containers
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


@media(max-width: 1199.98px){
    [class*="__container"]{
        max-width: 970px;
    }
}

@media(max-width: 990.98px){
    [class*="__container"]{
        max-width: 750px;
    }
}

@media(max-width: 767.98px){
    [class*="__container"]{
        max-width: 650px;
    }
}*/
.header {
  position: fixed;
  width: 100%;
  background-color: #141920;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.header__container {
  padding: 0px 15px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 20px;
  max-width: 100px;
  cursor: pointer;
}

.header__logo img {
  min-width: 100%;
  height: 30px;
}

.header__location {
  cursor: pointer;
}

.header__search {
  border-radius: 6px;
  border: 2px solid transparent;
}

.header__search:focus {
  border: 2px solid #F19D38;
}

.header__search.__active {
  border: 2px solid #F19D38;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__links a {
  color: #fff;
}

.header__link:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 5px;
}

.header__link:first-child .link__text-light {
  font-weight: 400;
  margin-bottom: 5px;
}

.header__link:last-child {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__burger {
  display: none;
}

.header__logo:hover, .header__location:hover, .header__links > .header__link:hover {
  border: 1px solid #fff;
}

.header__logo, .header__location, .header__links > .header__link {
  padding: 5px;
  border: 1px solid transparent;
}

.nav-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  margin-right: 20px;
}

.location__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location__icon {
  margin-right: 5px;
}

.location__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 120px;
}

.location__text span:first-child {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.location__text span:last-child {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-header-centr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 20px;
  padding: 10px 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
}

.search__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 10px;
  border-radius: 4px 0 0 4px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}

.search__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  padding: 8px 10px;
  background: #F4BF76;
  text-align: center;
  border-radius: 0 4px 4px 0;
}

.search__btn img {
  width: 100%;
}

.search__btn:hover {
  background: #f7ac43;
}

.nav-header-right {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.link__sprite {
  position: relative;
}

.link__sprite img {
  width: 45px;
}

.link__counter {
  position: absolute;
  top: 5px;
  left: 20px;
  font-weight: 700;
  color: #FF9900;
  font-size: 16px;
}

.link__text {
  font-size: 14px;
  font-style: normal;
  line-height: 15px;
  font-weight: 700;
}

.page {
  padding: 60px 0 0 0;
  margin-bottom: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.cards {
  padding-top: 15px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 8px;
          column-gap: 8px;
  row-gap: 10px;
}

.card {
  width: 100%;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #14192018;
  padding: 15px 15px 15px 10px;
  border-radius: 5px;
}

.card__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  /* 234/659 */
  height: 50%;
  margin-bottom: 20px;
}

.card__img img {
  /*
            position: absolute;//
            top: 0;//
            left: 0;//
            width: 100%;//
            height: 100%;//
            padding-bottom: 100%;//*/
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.card__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  /* 155/659 */
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
  min-height: 45px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2px;
          column-gap: 2px;
  margin-bottom: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.card__rating .rating__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 1.25rem;
}

.card__rating .rating__stars li {
  list-style: none;
}

.card__rating .rating__stars li:first-child {
  margin-right: 5px;
}

.card__rating .rating__stars img {
  height: 25px;
}

.card__rating .rating__votes {
  color: #017cb6;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
}

.card__price {
  font-size: calc(16px + 6 * ((100vw - 320px) / 1120));
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.card__quality {
  width: 30%;
  outline: none;
  color: #212121;
  background-color: #f0f0f0;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
          box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
  margin-bottom: 10px;
}

.card__quality:hover {
  background: #fff;
}

.card__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
  font-size: 18px;
  color: #40C057;
  font-weight: 600;
}

.card__message img {
  overflow: hidden;
  margin-right: 15px;
}

.card__message.__active {
  opacity: 1;
}

.card__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 6%;
          flex: 0 1 6%;
  /* 43/659 */
  width: 100%;
  padding: 8px;
  border-radius: 50px;
  font-size: calc(16px + 4 * ((100vw - 320px) / 1120));
  color: #212121;
  background-color: #ffd814;
  border: 1px solid #fcd200;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
          box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

.card__btn:hover {
  background: #333;
  border: 1px solid #212121;
  color: #ffd814;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #232F3E;
}

.footer__btn {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #37475A;
  padding: 15px 0;
  line-height: 19px;
  font-size: 14px;
  font-size: calc(16px + 2 * ((100vw - 320px) / 1120));
  margin-bottom: 40px;
}

.footer__btn:hover {
  background: #465a74;
}

.footer__content {
  width: 100%;
}

.footer__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (minmax(120px, 1fr))[auto-fit];
      grid-template: 1fr/repeat(auto-fit, minmax(120px, 1fr));
  -webkit-column-gap: 80px;
          column-gap: 80px;
  margin-bottom: 40px;
  padding-left: calc(40px + 40 * ((100vw - 320px) / 1120));
  padding-right: calc(40px + 40 * ((100vw - 320px) / 1120));
}

.footer__logo_box {
  position: relative;
  border-top: 1px solid #dddddd9f;
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 30px;
}

.footer__logo_box .footer__logo {
  max-width: 200px;
  text-align: center;
  padding: 10px 5px;
}

.footer__logo_box img {
  width: 100%;
}

.footer__text {
  text-align: center;
  background-color: #131A22;
  padding: 30px 0 60px;
  color: #fff;
  line-height: 30px;
  font-size: 16px;
}

.footer__text span {
  padding: 0 10px;
}

.item {
  margin-bottom: 15px;
}

.item__title {
  text-align: center;
  font-weight: 700;
  color: #FFF;
  font-size: 18px;
  line-height: 20px;
  margin: 6px 0 14px 0;
}

.item__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fff;
  line-height: 20px;
}

.item__link {
  margin-bottom: 15px;
}

.item__link a {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
}

.item__link:hover {
  text-decoration: underline;
}

@media (max-width: 767.777px) {
  .header {
    height: 110px;
  }
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-top: 5px;
  }
  .header__container .nav-header-left, .header__container .nav-header-centr {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 75%;
    margin-right: 0;
  }
  .header__container .nav-header-left {
    margin-bottom: 5px;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__burger {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: 20px;
    right: 10px;
    display: block;
    width: 30px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__burger span {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
    top: 0px;
    background: #fff;
    height: 3px;
    width: 100%;
  }
  .header__burger::after, .header__burger::before {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    left: 0;
    content: "";
    background: #fff;
    height: 3px;
    width: 100%;
  }
  .header__burger::after {
    bottom: -1px;
  }
  .header__burger::before {
    top: 0px;
  }
  .header .nav-header-right {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
  .header .nav-header-right.__active {
    padding: 5px 0;
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: fixed;
    background: #141920d0;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 55;
  }
  .header .location__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header .location__text span:first-child {
    line-height: 17px;
    margin-right: 5px;
  }
  .header .search__input {
    min-width: 60px;
  }
  .header__burger.__active span {
    display: none;
  }
  .header__burger.__active::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 8px;
  }
  .header__burger.__active::before {
    top: 8px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .page {
    padding-top: 110px;
  }
}

@media (max-width: 375px) {
  .location {
    display: none;
  }
}
