.main {
    &__container {
    }
}
.page {
    &__title {
        font-weight: 700;
        @include adaptive-value(font-size, 20, 35, $minWidth, $maxWidth);

        margin-bottom: 20px;
    }
}
.orders {
    &__order {
        background-color: #f1f1f152;
        border-radius: 15px;
        padding: 10px 15px;
        border-bottom: 5px solid #5f5f5f38;
        border-right: 8px solid #5f5f5f38;
        box-shadow: 7px 7px 20px 0px #b5b5b5;
    }
}
.order {
    &__title-body {
        /* display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap; */
        display: grid;
        background: #141920;
        color: #fff;

        border-radius: 20px 15px 0 0;

        @media (min-width: 767.777px) {
            grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
        }
        padding: 15px 10px;
        row-gap: 10px;
        column-gap: 15px;
        margin-bottom: 30px;
    }

    &__details {
    }
    margin-bottom: 25px;
}
.order {
    &__total {
    }

    &__id {
    }
    &__date-block {
        margin-right: 10%;
    }
}
.title-body {
    &__left {
        display: flex;
        flex: 1 1 auto;
        align-items: center;

        //margin-right: 35px;
    }

    &__right {
    }
}
.date-block {
    &__label {
        margin-bottom: 5px;
    }

    &__date {
    }
}
.ord-label {
    font-weight: 500;
    @include adaptive-value(font-size, 18, 22, $minWidth, $maxWidth);
}
.ord-text {
    @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
    margin-left: 10px;
    background-color: #394c64;
    padding: 5px 10px;
    border-radius: 5px;
    //border: 2.5px dashed #ffffff;
    color: #fff;
}
.total {
    &__label {
        margin-bottom: 5px;
    }
    &__sum {
    }
}
.id {
    &__label {
        margin-bottom: 5px;
    }

    &__number {
    }
}

.product {
    //padding: 25px 25px 0px;
    border-bottom: 2px solid #e7e7e7;
    display: grid;
    grid-template-rows: minmax(75px, 180px) 1fr minmax(45px, 50px);
    row-gap: 10px;
    margin-bottom: 35px;
    &:last-child {
        margin-bottom: 0;
        border-bottom: 0px solid #e7e7e7;
    }

    @media (min-width: 767.777px) {
        grid-template-columns: minmax(75px, 125px) 1fr minmax(200px, 1fr);
        grid-row: 1fr;
    }
    column-gap: 15px;

    &__img {
        @media (min-width: 767.777px) {
            img {
                max-height: 125px;
                width: 100%;
                object-fit: cover;
            }
        }
        img {
            max-height: 180px;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 767.777px) {
            margin-bottom: 5px;
        }
    }

    &__name {
        font-weight: 700;
        @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
        margin-bottom: 10px;
    }

    &__delivery-date {
        @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
        margin-bottom: 5px;
    }

    &__quantity {
        @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
        margin-bottom: 10px;
    }

    &__buy-again-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            height: 25px;
            width: 25px;
            margin-right: 5px;
        }
        flex: 0 1 6%; /* 43/659 */
        width: 100%;
        max-width: 250px;
        padding: 5px;
        border-radius: 50px;
        @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
        color: rgb(33, 33, 33);
        background-color: rgb(255, 216, 20);
        border: 1px solid rgb(252, 210, 0);
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    }

    &__actions {
    }
}
.btn {
}
.buy-again-btn {
    &__icon {
    }

    &__text {
    }
}
.track-package-btn {
    @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
    padding: 8px;
    width: 100%;
    max-width: 250px;
    color: rgb(33, 33, 33);
    background: white;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
