.page {
    background: rgba(33, 33, 33, 0.071);
}
.back-to-orders-link {
    display: inline-block;
    position: relative;
    float: right;
    //background: #ffffff2d;
    padding: 10px 15px 10px 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    text-align: right;

    a {
        position: relative;
        @include adaptive-value(font-size, 14, 20, $minWidth, $maxWidth);
        color: #000000;
        transition: all 0.3s ease-in-out 0s;
        z-index: 2;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
        z-index: 1;
        opacity: 0;
        border-radius: 15px;
        background-color: #10111a;
        transition: all 0.3s ease-in-out 0s;
    }
    @media (hover: hover) {
        &:hover::before {
            width: 100%;
            opacity: 0.9;
        }
        &:hover {
            cursor: pointer;
            a {
                color: #ffae00;
            }
        }
    }
    @media (hover: none) {
        &:active {
            a {
                color: #ff9900;
            }
        }
    }
}

.text-grey {
    color: #757575;
    font-weight: 600;
    margin-bottom: 5px;
}

.order-tracking {
    margin-top: 35px;
    &__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    &__map {
        iframe {
            border-radius: 15px;
            height: 100%;
            width: 100%;
        }

        flex: 0 1 51%;
    }
}
.tracking-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin-right: 25px;
    @include adaptive-value(font-size, 14, 18, $minWidth, $maxWidth);
    color: #000;
    font-weight: 600;
    padding: 10px 15px 10px 15px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
}
.product-id {
    margin-bottom: 15px;
    font-weight: 700;
}
.product-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.delivery-date {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    img {
        max-width: 30px;
        margin-right: 8px;
    }
}

.product-quantity {
    margin-bottom: 15px;
}
.product-img-block {
    img {
        max-width: 50%;
        border-radius: 15px;
    }
    margin-bottom: 15px;
}
/* .product-img {
    img {
        width: 10px;
        border-radius: 5px;
    }
    margin-bottom: 15px;
} */
.tracking-progress {
    &__labels {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        color: #ff5f0f;
    }

    &__label {
    }

    &__bar {
        width: 100%;
        height: 15px;
        background-color: #aeaeae;
        border-radius: 15px;
        box-shadow: 2px 3px 10px 1px #0000006b;
    }
}
.progress-bar {
    &__line {
        width: 15%;
        height: 100%;
        border-radius: 15px;
        background-color: rgb(255, 154, 47);
        box-shadow: 2px 1px 1px rgba(255, 154, 47, 0.457);
    }
}
@media (max-width: 767.777px) {
    .order-tracking {
        &__container {
            flex-direction: column;
        }
    }
    .tracking-info {
        margin-bottom: 25px;
        margin-right: 0;
    }
    .product-img-block {
        img {
            min-width: 100%;
            height: 85%;
            border-radius: 15px;
        }
        margin-bottom: 15px;
    }
}
