@import "_nullstyle";

//under development
// promixes ------
$fontFamily :'Quicksand', sans-serif;
//$font-family: Amazon Ember; //! 
$fontSize: 1rem;

$mainColor: #6A6E77;
$darkColor : #1C1F25; 

$minWidth: 320;
$maxWidth: 1440;
$maxHeigth: 1080;
$containerPadding: 480;

$maxWidthContainer :0;


$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth);   


$resposiveType: 1; 

//$f: math.div(230,3);
//@debug $f;
@mixin math($math,$startvalue,$secondvalue){
    #{$math}: ($startvalue / $secondvalue) + "px" ;
}

@mixin adaptive-value($property,$minSize,$maxSize,$min-screen,$max-screen) {
    $addsize: $maxSize - $minSize;
    $screen-width: $max-screen - $min-screen;
    $screen-range: 100vw - #{$min-screen + "px"};
    $valueSize: calc(#{$minSize + px} + #{$addsize} * ((#{$screen-range}) / #{$screen-width}));
    #{$property}: $valueSize;

}



// Don`t forgot cascadeee ------     


 



body {
    font-family: $fontFamily;
    font-size: $fontSize;
}

.wrapper {
    min-height: 100%;
    
}

[class*="main__container"]{
    @include adaptive-value(padding-left, 15, 40, $minWidth, $maxWidth);
    @include adaptive-value(padding-right, 15, 40, $minWidth, $maxWidth);

}

/* containers
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


@media(max-width: 1199.98px){
    [class*="__container"]{
        max-width: 970px;
    }
}

@media(max-width: 990.98px){
    [class*="__container"]{
        max-width: 750px;
    }
}

@media(max-width: 767.98px){
    [class*="__container"]{
        max-width: 650px;
    }
}*/

.header {
    position: fixed;
    //height: 60px;
    width: 100%;
    background-color: #141920;
    display: grid;
    grid-row: 1fr;
    
    &__container {
        padding: 0px 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        margin-right: 20px;
        max-width: 100px;
        cursor: pointer;
        img{
            min-width: 100%;
            height: 30px;
        }
        
    }

    &__location {
        cursor: pointer;
    }

    &__search {
        border-radius: 6px;
        border: 2px solid transparent;
    }
    &__search:focus{
        border: 2px solid #F19D38;
    }
    &__search.__active{
        border: 2px solid #F19D38;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a{
            color: #fff;
        }
       
        
    }
    &__link:first-child{
        display: flex;
        flex-direction: column;
        margin-right: 5px;

        .link__text-light{
            font-weight: 400;
            margin-bottom: 5px;
        }
    }

    
    &__link:last-child {
        align-items: flex-end;
        display: flex;
    }
    &__burger{
        display: none;
    }

    &__logo:hover,&__location:hover,&__links>.header__link:hover{
       
        border: 1px solid #fff;
    }
    &__logo,&__location,&__links>.header__link{
        padding: 5px;
        border: 1px solid transparent;
    }
}

.nav-header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-right: 20px;
}
.location {

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        margin-right: 5px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 120px;

        span:first-child{
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
        span:last-child{
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}
.nav-header-centr {
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 10px 0 ;
   
}
.search {
    display: flex;
    height: 40px;
    
    &__input {
        flex: 1 1 auto;
        padding: 10px;
        border-radius:  4px 0 0 4px ;

        

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;

    }

    &__btn {
        flex: 0 1 45px;

        padding: 8px 10px;
        background: #F4BF76;
        text-align: center;
        border-radius: 0 4px 4px 0;
        img{
           width: 100%; 
           
        }
    }

    &__btn:hover{
        background: #f7ac43;
    }

}
.nav-header-right {
    width: 25%;
    flex: 0 1 25%;
}
.link {

    &__sprite {
        position: relative;
        img{
            width: 45px;
        }
    }

    &__counter {
        position: absolute;
        top: 5px;
        left: 20px;
        font-weight: 700;
        color: #FF9900;
        font-size: 16px;
    }

    &__text {
        font-size: 14px;
        font-style: normal;
        line-height: 15px;
        font-weight: 700;
    }
}

// page with products 



.page {
    padding: 60px 0 0 0;
}
.main {

		&__container {
		}
}
.cards {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    column-gap: 8px;
    row-gap: 10px;
   
}
.card {
    //@include adaptive-value( width, 150, 256, $minWidth, $maxWidth); /* change on adaptive alue */
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #14192018; //#c5c8c950;
    padding: 15px 15px 15px 10px;
    border-radius: 5px;


    &__img {
        margin-bottom: 20px;
        img{
            object-position: center;
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__text {
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__rating {
        display: flex;
        column-gap: 2px;
        margin-bottom: 10px;
        align-items: center;
        .rating__stars{
            display: flex;
            justify-content:space-between;
            margin-right: 5px;
            img{
                height: 25px;
            }
        }
        .rating__votes{
            color: #017cb6;
            cursor: pointer;
            font-size: 1.1rem;
        }

    }

    &__price {
        @include adaptive-value( font-size, 16, 22, $minWidth, $maxWidth);
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__quality{
        flex: 0 1 30%;
        width: 30%;
        outline: none;
        color: rgb(33, 33, 33);
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(213, 217, 217);
        border-radius: 8px;
        padding: 3px 5px;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
        margin-bottom: 10px;
    }
    &__quality:hover{
        background: #fff;
    }
    &__message{
        display: flex;
        align-items: center;
        opacity: 0;
        margin-bottom: 10px;

        font-size: 18px;
        color: #40C057;
        font-weight: 600;
        img{
            overflow: hidden;
            margin-right: 15px;
        }

        span{
            
        }
    }


    &__btn {
        width: 100%;
        padding: 8px;
        border-radius: 50px;
        @include adaptive-value( font-size, 16, 20, $minWidth, $maxWidth);
        color: rgb(33, 33, 33);
        background-color: rgb(255, 216, 20);
        border: 1px solid rgb(252, 210, 0);
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);

	}

    &__btn:hover{
        background: #333;
        border: 1px solid rgb(33,33,33);
        color: rgb(255, 216, 20);
    }
}



//--------------------------------------------

@media(max-width:767.777px){
    .header{
        height: 110px;
        &__container{
            flex-direction: column;
            flex: 1 1 auto;
            padding-top: 5px;
            
            .nav-header-left,.nav-header-centr{
                flex: 1 1 auto;
                width: 75%;
                margin-right: 0;
            }
            .nav-header-left{
                margin-bottom: 5px;
            }

        }

        &__logo{
            margin-right: 0;
        }

        &__burger{
            transition: all 0.3s ease 0s;
            position: absolute;
            top: 20px;
            right: 10px;
            display: block;
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & span{
                transition: all 0.3s ease 0s;
                position: relative;
                top: 0px;
                background: #fff;
                height: 3px;
                width: 100%;
            }
            &::after,&::before{
                transition: all 0.3s ease 0s;
                position: absolute;
                left: 0;
                content: "";
                background: #fff;
                height: 3px;
                width: 100%;
            }
            &::after{
                bottom: -1px;
            }
            &::before{
                top: 0px;
    
            }
    
        }

        

        .nav-header-right{
            transition: all 1s ease 0s;
            transform: translateX(-100vw);
        }
        .nav-header-right.__active{
            padding: 5px 0;
            transition: all 1s ease 0s;
            position: fixed;
            background: #141920d0;
            transform: translateX(0%);
            top: 100px;
            left: 0;
            width: 100%;
            z-index: 55;
        }


        .location {
        
            &__text {
                display: flex;
                flex-direction: row;
        
                span:first-child{
                    line-height: 17px;
                    margin-right: 5px;
                }
                span:last-child{
                    
                }
            }
        }

        .search{
            &__input{
                min-width: 60px;
            }
        }
    }
    .header__burger.__active{
            
        span{
           display: none;
        }
        &::after{
            transform: rotate(45deg) ;
            bottom: 8px;
        }
        &::before{ 
            top: 8px;
            transform: rotate(-45deg);

        }


    }
    .page{
        padding-top: 110px;
    }
}

@media(max-width: 375px){
    .location{
        display: none;
    }
}