@import "_nullstyle";

//under development
// promixes ------
$fontFamily: "Quicksand", sans-serif;
//$font-family: Amazon Ember; //!
$fontSize: 1rem;

$mainColor: #6a6e77;
$darkColor: #1c1f25;

$minWidth: 320;
$maxWidth: 1440;
$maxHeigth: 1080;
$containerPadding: 480;

$maxWidthContainer: 0;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: em($containerWidth);

$resposiveType: 1;

//$f: math.div(230,3);
//@debug $f;
@mixin math($math, $startvalue, $secondvalue) {
    #{$math}: ($startvalue / $secondvalue) + "px";
}

@mixin adaptive-value($property, $minSize, $maxSize, $min-screen, $max-screen) {
    $addsize: $maxSize - $minSize;
    $screen-width: $max-screen - $min-screen;
    $screen-range: 100vw - #{$min-screen + "px"};
    $valueSize: calc(#{$minSize + px} + #{$addsize} * ((#{$screen-range}) / #{$screen-width}));
    #{$property}: $valueSize;
}

// Don`t forgot cascadeee ------

body {
    font-family: $fontFamily;
    font-size: $fontSize;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

[class*="main__container"] {
    @include adaptive-value(padding-left, 15, 40, $minWidth, $maxWidth);
    @include adaptive-value(padding-right, 15, 40, $minWidth, $maxWidth);
}

/* containers
[class*="__container"]{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


@media(max-width: 1199.98px){
    [class*="__container"]{
        max-width: 970px;
    }
}

@media(max-width: 990.98px){
    [class*="__container"]{
        max-width: 750px;
    }
}

@media(max-width: 767.98px){
    [class*="__container"]{
        max-width: 650px;
    }
}*/

.header {
    z-index: 5;
    position: fixed;
    //height: 60px;
    width: 100%;
    background-color: #141920;
    display: grid;
    grid-template-rows: 1fr;
    padding-top: 2px;
    padding-bottom: 2px;

    &__container {
        padding: 0px 15px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        padding: 10px;
        margin-right: 20px;
        //max-width: 100px;
        cursor: pointer;
        img {
            min-width: 100%;
            height: 50px;
        }
    }

    &__location {
        padding: 10px;
        cursor: pointer;
    }

    &__search {
        border-radius: 6px;
        border: 2px solid transparent;
    }
    &__search:focus {
        border: 2px solid #f19d38;
    }
    &__search.__active {
        border: 2px solid #f19d38;
    }

    &__links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        a {
            color: #fff;
        }
    }
    &__link:first-child {
        display: flex;
        flex-direction: column;
        margin-right: 5px;
        padding: 15px;

        .link__text-light {
            font-weight: 400;
            margin-bottom: 5px;
        }
    }

    &__link:last-child {
        align-items: flex-end;
        display: flex;
        padding: 8px;
    }
    &__burger {
        display: none;
    }

    &__logo:hover,
    &__location:hover,
    &__links > .header__link:hover {
        border: 1px solid #fff;
    }
    &__logo,
    &__location,
    &__links > .header__link {
        border: 1px solid transparent;
    }
}

.nav-header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-right: 20px;
}
.location {
    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__icon {
        @include adaptive-value(width, 18, 25, $minWidth, $maxWidth);
        margin-right: 5px;
    }

    &__text {
        display: flex;
        flex-direction: column;
        max-width: 120px;
        @include adaptive-value(font-size, 14, 18, $minWidth, $maxWidth);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}
.nav-header-centr {
    flex: 1 1 auto;
    margin-right: 20px;
    padding: 10px 0;
}
.search {
    display: flex;
    height: 50px;

    &__input {
        flex: 1 1 auto;
        padding: 10px;
        border-radius: 4px 0 0 4px;

        @include adaptive-value(font-size, 16, 20, $minWidth, $maxWidth);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: #000;
    }

    &__btn {
        flex: 0 1 45px;

        padding: 8px 10px;
        background: #f4bf76;
        text-align: center;
        border-radius: 0 4px 4px 0;
        img {
            width: 100%;
        }
    }

    &__btn:hover {
        background: #f7ac43;
    }
}
.nav-header-right {
    width: 25%;
    flex: 0 1 25%;
}
.link {
    &__sprite {
        position: relative;
        img {
            @include adaptive-value(width, 38, 50, $minWidth, $maxWidth);
        }
    }

    &__counter {
        position: absolute;
        top: 0px;
        left: calc(50% + 2px);
        transform: translateX(-50%);
        font-weight: 700;
        color: #ff9900;
        @include adaptive-value(font-size, 16, 20, $minWidth, $maxWidth);
    }

    &__text {
        @include adaptive-value(font-size, 14, 18, $minWidth, $maxWidth);
        font-style: normal;
        line-height: 15px;
        font-weight: 700;
    }
}

// page with products

.page {
    padding: 110px 0 0 0;
    margin-bottom: 30px;
    flex: 1 1 auto;
}
.main {
    &__container {
    }
}
.cards {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 8px;
    row-gap: 10px;
}
.card {
    //@include adaptive-value( width, 150, 256, $minWidth, $maxWidth); /* change on adaptive alue */
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    background: #14192018; //#c5c8c950;
    padding: 15px 15px 15px 10px;
    border-radius: 5px;

    &__img {
        flex: 1 1 auto; /* 234/659 */
        height: 50%;
        // position: relative;//
        margin-bottom: 20px;

        img {
            /*
            position: absolute;//
            top: 0;//
            left: 0;//
            width: 100%;//
            height: 100%;//
            padding-bottom: 100%;//*/
            object-position: center;
            object-fit: cover;
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        flex: 0 1 25%; /* 155/659 */
        justify-content: flex-end;
    }

    &__text {
        display: flex;

        align-items: center;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 10px;
        min-height: 45px;
        hyphens: auto;
    }

    &__rating {
        // todo випадаючий список
        display: flex;
        column-gap: 2px;
        margin-bottom: 10px;
        align-items: flex-end;
        .rating__stars {
            display: flex;
            justify-content: space-between;
            margin-right: 5px;
            align-items: flex-end;
            font-size: 1.25rem;
            li {
                list-style: none;
            }
            li:first-child {
                margin-right: 5px;
            }
            img {
                height: 25px;
            }
        }
        .rating__votes {
            color: #017cb6; //#017cb6
            cursor: pointer;
            font-size: 1.3rem;
            font-weight: 600;
        }
    }

    &__price {
        @include adaptive-value(font-size, 16, 22, $minWidth, $maxWidth);
        font-weight: 700;
        line-height: normal;
        margin-bottom: 10px;
    }

    &__quality {
        //flex: 0 1 30%;
        width: 30%;
        outline: none;
        color: rgb(33, 33, 33);
        background-color: rgb(240, 240, 240);
        border: 1px solid rgb(213, 217, 217);
        border-radius: 8px;
        padding: 3px 5px;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
        margin-bottom: 10px;
    }
    &__quality:hover {
        background: #fff;
    }
    &__message {
        display: flex;
        align-items: center;
        opacity: 0;
        transition: all 0.5s ease-out 0s;
        font-size: 18px;
        color: #40c057;
        font-weight: 600;
        img {
            overflow: hidden;
            margin-right: 15px;
        }
    }

    &__message.__active {
        opacity: 1;
    }

    &__btn {
        flex: 0 1 6%; /* 43/659 */
        width: 100%;
        padding: 8px;
        border-radius: 50px;
        @include adaptive-value(font-size, 16, 20, $minWidth, $maxWidth);
        color: rgb(33, 33, 33);
        background-color: rgb(255, 216, 20);
        border: 1px solid rgb(252, 210, 0);
        border-radius: 8px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    }

    &__btn:hover {
        background: #333;
        border: 1px solid rgb(33, 33, 33);
        color: rgb(255, 216, 20);
    }
}

// footer

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232f3e;
    &__btn {
        width: 100%;
        text-align: center;
        color: #fff;
        background: #37475a;
        padding: 15px 0;
        line-height: 19px;
        font-size: 14px;
        @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
        margin-bottom: 40px;
    }
    &__btn:hover {
        background: #465a74;
    }

    &__content {
        width: 100%;
    }

    &__items {
        display: grid;
        grid-template: 1fr / repeat(auto-fit, minmax(120px, 1fr));
        column-gap: 80px;
        margin-bottom: 40px;
        @include adaptive-value(padding-left, 40, 80, $minWidth, $maxWidth);
        @include adaptive-value(padding-right, 40, 80, $minWidth, $maxWidth);

        // @include adaptive-value(column-gap, 10, 100, $minWidth, $maxWidth)
    }

    &__logo_box {
        position: relative;
        border-top: 1px solid #dddddd9f;
        background: inherit;
        display: flex;
        justify-content: center;
        margin: 0 0 30px;
        .footer__logo {
            max-width: 200px;
            text-align: center;
            padding: 10px 5px;
        }
        img {
            width: 100%;
        }
    }

    &__text {
        text-align: center;
        background-color: #131a22;
        padding: 30px 0 60px;
        color: #fff;
        line-height: 30px;
        font-size: 16px;
        span {
            padding: 0 10px;
        }
    }
}
.item {
    margin-bottom: 15px;
    &__title {
        text-align: center;
        font-weight: 700;
        color: #fff;
        font-size: 18px;
        line-height: 20px;
        margin: 6px 0 14px 0;
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
        line-height: 20px;
    }

    &__link {
        margin-bottom: 15px;
        a {
            color: #fff;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__link:hover {
        text-decoration: underline;
    }
}

//--------------------------------------------

// check out page
.header-checkout {
}

.checkout {
    &__container {
        min-height: 50vh;
        @include adaptive-value(padding-left, 15, 100, $minWidth, $maxWidth);
        @include adaptive-value(padding-right, 15, 100, $minWidth, $maxWidth);
    }
}
.checkout {
    &__title {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 18px;
    }

    &__content {
        display: grid;
        grid-template: 1fr/ 1fr 28.5%;
        justify-content: space-between;
        align-items: center;
        @include adaptive-value(font-size, 14, 18, $minWidth, $maxWidth);
    }

    &__order {
    }

    &__order-payment {
    }
}
.order {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    &:first-child {
        border-top: 2px solid #e7e7e7;
    }
    &__cart {
        margin-bottom: 15px;
        padding: 20px 0 20px 20px;
        border-bottom: 2px solid #e7e7e7;
    }
}
.cart {
    //max-height: 350px;
    &__delivery-date {
        color: rgb(0, 113, 133);
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 22px;
    }

    &__content {
        display: grid;
        grid-template: 1fr / 30% 1fr 30% 1fr 33%;
        align-items: center;
        // vertical box for max-width : 1024px
    }

    &__img {
        height: 100%;
        width: 100%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-position: center;
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    &__info {
        height: 100%;
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        font-weight: 500;
        margin-right: 15px;
    }

    &__name {
        display: flex;
        flex-direction: column;
        justify-content: center;

        //*vertical-align: middle; not works but great thing for another projects where we know height and line-height
        //line-height: 100%;
        @include adaptive-value(font-size, 20, 25, $minWidth, $maxWidth);
        @include adaptive-value(line-height, 25, 35, $minWidth, $maxWidth);
        flex: 0 1 33.33%;
        max-width: 100%;
        //overflow: hidden;
        margin-bottom: 8px;
        color: #0f1111;
    }

    &__price {
        flex: 0 1 20%;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 5px;
        color: #b12704;
    }

    &__quantity {
        flex: 0 1 43.33%;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;

        .quantity-label {
            margin: 0px 10px 0;
        }
        .quantity-label.__hidden {
            opacity: 0;
            display: none;
        }

        input {
            display: none;
            //opacity: 0;
        }
        input.__active {
            text-align: center;
            display: block;
            width: 50%;
            margin-left: 10px;
            padding: 6px;
            border-radius: 20px;
            background: #f2c200;
            color: #000;
            font-weight: 700;
            @include adaptive-value(font-size, 14, 18, $minWidth, $maxWidth);
            @include adaptive-value(line-height, 18, 20, $minWidth, $maxWidth);
            cursor: pointer;
        }
    }

    &__btn {
        @include adaptive-value(font-size, 16, 18, $minWidth, $maxWidth);
        //margin-left: 15px;
        background: transparent;
        color: rgb(0, 113, 133);
        font-weight: 650;
        line-height: 24px;
        &_up {
        }

        &_del {
            margin-left: 10px;
        }
    }
    &__btn:hover {
        color: #b12704;
    }

    &__delivery-options {
        grid-column: 5/6;
    }
}
.delivery-options {
    &__title {
        font-weight: 700;
        margin-bottom: 10px;
    }
    display: flex;
    flex-direction: column;
}
.delivery-option {
    display: flex;
    margin-bottom: 15px;

    &__content {
        align-self: center;
        margin-left: 8px;
    }

    &__date {
        color: rgb(0, 113, 133);
        font-weight: 600;
        margin-bottom: 5px;
        @include adaptive-value(line-height, 18, 24, $minWidth, $maxWidth);
    }

    &__check {
    }

    &__price {
        color: rgb(120, 120, 120);
        font-size: 15px;
    }
}
.order-payment {
    // todo it to final version
    align-self: flex-start;
    margin-left: 15px;
    padding: 18px 18px 5px;
    border-radius: 3px;
    border: 2px solid #e7e7e7;
    &__info {
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 700;
        margin-bottom: 12px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        div:first-child {
            margin-right: 10px;
        }
        &:last-child {
            border-top: 2px solid #e7e7e7;
            padding-top: 18px;
            color: #b12704;
            font-weight: 650;
        }
    }

    &__money {
    }

    &__use-service {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        input {
            cursor: pointer;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin-left: 10px;
        }
    }

    &__btn {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        border-radius: 8px;
        background-color: rgb(247, 202, 0);
        border: 1px solid rgb(242, 194, 0);
        text-align: center;
        margin-bottom: 20px;
        cursor: pointer;
        box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
    }
}
.use-service {
    &__text {
    }

    &__check {
    }
}

@media (max-width: 1024px) {
    .checkout {
        &__content {
            grid-template: auto 1fr / 1fr;
            row-gap: 25px;
        }

        &__order-payment {
            grid-row: 1/2;
            margin-left: 0;
        }
    }

    .cart {
        &__content {
            align-items: start;
            grid-template: minmax(150px, 350px) minmax(80px, 85px) minmax(120px, 200px) / 1fr;
            grid-template-columns: 1fr;
            row-gap: 25px;
        }

        & .cart__delivery-options {
            grid-column: auto;
        }

        &__info {
            grid-column: auto;
            flex: 0 1 auto;
            margin-right: 0;
            margin-bottom: 5px;
            * {
                flex: 0 1 auto;
            }
        }

        &__quantity {
            justify-content: start;
            * {
                margin-left: 10px;
            }
            span {
                //justify-items: flex-start;
                margin-left: 0px;
            }
        }
    }
}

//
@media (max-width: 767.777px) {
    .header {
        height: 160px;

        &__container {
            flex-direction: column;
            flex: 1 1 auto;
            padding-top: 5px;

            .nav-header-left,
            .nav-header-centr {
                flex: 1 1 auto;
                width: auto;
                margin-right: 0;
            }
            .nav-header-left {
                margin-bottom: 5px;
            }
        }

        &__logo {
            margin-right: 0;
        }

        &__burger {
            transition: all 0.3s ease 0s;
            position: absolute;
            top: 20px;
            right: 10px;
            display: block;
            width: 30px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & span {
                transition: all 0.3s ease 0s;
                position: relative;
                top: 0px;
                background: #fff;
                height: 3px;
                width: 100%;
            }
            &::after,
            &::before {
                transition: all 0.3s ease 0s;
                position: absolute;
                left: 0;
                content: "";
                background: #fff;
                height: 3px;
                width: 100%;
            }
            &::after {
                bottom: -1px;
            }
            &::before {
                top: 0px;
            }
        }

        .nav-header-right {
            transition: all 1s ease 0s;
            transform: translateX(-100vw);
            position: fixed;
            top: 100px;
            left: 0;
        }
        .nav-header-right.__active {
            padding: 5px 0;
            transition: all 1s ease 0s;
            position: fixed;
            background: #141920d0;
            transform: translateX(0%);
            top: 160px;
            left: 0;
            width: 100%;
            z-index: 55;
        }

        .nav-header-centr {
            padding: 0;
        }
        .search {
            &__input {
                min-width: 60px;
            }
        }
    }
    .header-checkout {
        height: 80px;
        .nav-header-centr {
            display: none;
        }
        .header__burger {
            display: none;
        }

        .nav-header-left {
            width: auto;
        }
    }

    .header__burger.__active {
        span {
            display: none;
        }
        &::after {
            transform: rotate(45deg);
            bottom: 8px;
        }
        &::before {
            top: 8px;
            transform: rotate(-45deg);
        }
    }
    .page {
        padding-top: 160px;
    }
}
@media (max-width: 375px) {
    .location {
        display: none;
    }
}
